:root {
  /* --------------------------------- variables --------------------------------- */
  /* colors */
  --base-bg: #121212;
  --base-white: white;

  --text-white: #ffffff80;
  --text-gray: #808080;
  --text-disabled: #c1c1c1;

  --card-black: #1a1a1a;

  /* border radius */
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-18: 18px;
  --radius-full: 100px;

  /* product colors */
  --cream-prod: #ffecd1;
  --olive-prod: #84a98c;
  --cupper-prod: #e07a5f;
  --mustard-prod: #ffd166;

  /* font sizes */
  --font12: 0.75rem;
  --font14: 0.875rem;
  --font16: 1rem;
  --font20: 1.25rem;
  --font24: 1.5rem;
  --font26: 1.625rem;
  --font28: 1.75rem;
  --font30: 1.875;
  --font32: 2rem;
}
a {
  color: var(--base-white);
  text-decoration: none;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}
html {
  direction: rtl;
  color: var(--base-white);
  background-color: var(--base-bg);
  overflow-x: hidden;
}
body {
  width: 90%;
  max-width: 1310px;
  padding: 0 2rem;
  margin: auto;
  position: relative;
}
/* ------------------------------- font styles ------------------------------ */
.vazirmatn-light {
  font-family: "Vazirmatn", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.vazirmatn-regular {
  font-family: "Vazirmatn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.vazirmatn-bold {
  font-family: "Vazirmatn", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.vazirmatn-black {
  font-family: "Vazirmatn", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
/* ----------------------------- header section ----------------------------- */
.header {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.header_nav {
  margin: auto;
}
.header_nav_wrapper {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.header_nav_item {
  font-size: 0.75rem;
  opacity: 0.8;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 1;
  }
}
.header_nav_wrapper li:nth-last-child(2) a {
  &::after {
    content: " جدید";
    background-color: red;
    border-radius: var(--radius-full);
    font-size: 0.7rem;
    position: relative;
    top: -10px;
    right: 0;
    padding: 0.15rem 0.35rem;
    text-align: center;
  }
}
.header_svg {
  display: flex;
  gap: 15px;
}
.header_svg_item {
  width: 35px;
}
.header_svg_item:nth-child(1) {
  width: 25px;
}
.subheader {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.subheader_sitename span {
  color: var(--text-white);
  font-weight: 400;
}
.subheader_support {
  display: flex;
  align-items: center;
  gap: 15px;
}
.subheader_support img {
  width: 35px;
  background-color: var(--base-white);
  border-radius: var(--radius-full);
}
.subheader_support_text a {
  color: var(--text-white);
  transition: all 0.2s ease-out;
  font-size: 0.85rem;
  &:hover {
    color: var(--base-white);
  }
}
.subheader_support_text p {
  font-size: 0.85rem;
}
/* ---------------------- category image slider section --------------------- */
.cat_container {
  width: 100%;
  margin: 2rem 0;
}
.cat_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cat_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.cat_item img {
  max-height: 3rem;
  transition: all 0.3s ease-out;
}
.cat_item img:hover {
  transform: translateY(-10px);
}
.cat_item p {
  font-size: 0.85rem;
  color: #f0f0f0;
  margin: 1rem 0 0;
}
.cat_slider-container {
  margin-bottom: 2rem;
}
.cat_slider {
  padding: 2rem 0;
}
.cat_slider-item:hover {
  cursor: grab;
}
.cat_slider-item > img {
  border-radius: var(--radius-10);
}
/* ----------------------------- offers section ----------------------------- */
.offers-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 0 0;
}
.offers-heading h2 {
  font-size: 1.25rem;
}
.offers-heading h2 span {
  font-size: 0.9rem;
  color: red;
  font-weight: 400;
}
.offers-heading button {
  padding: 4px 8px;
  border-radius: var(--radius-full);
  border: 0;
  font-size: 0.9rem;
  color: #808080;
}
.offers_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
.offers_card-item {
  background-color: var(--card-black);
  border-radius: var(--radius-18);
  transition: all 0.6s ease-out;
}
.offers_card-item:hover {
  transform: scale(105%);
}
.offers_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
.offers_card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 4rem 1rem;
  gap: 1rem;
}
.offers_card-item img {
  width: 60%;
}
.offers_card-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.offers_card-colors > span {
  width: 0.55rem;
  height: 0.55rem;
  border-radius: var(--radius-full);
  display: inline-block;
  margin-bottom: 1rem;
}
.offers_card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
  padding-bottom: 2rem;
}
.offers_card-title h3 {
  font-size: 1rem;
}
.offers_card-title p {
  font-size: 0.75rem;
  color: var(--text-gray);
}
.offers_card-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.offers_card-price p:nth-child(1) {
  font-size: var(--font12);
  text-decoration: line-through;
  color: var(--text-disabled);
  font-feature-settings: "locl";
  unicode-bidi: embed;
}
.offers_card-price p:nth-child(2) {
  font-size: var(--font16);
  font-feature-settings: "locl";
  unicode-bidi: embed;
}
